@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
  --primary: #6c25ff;
  --primary-light: #cebafb;
  --text: #1d2226;
  --text-light: rgba(29, 34, 38, 0.6);
  --background: #f7f8f9;
  --white: #ffffff;
  --border: #cbcbcb;
  --danger: #dd4a3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: #ececec;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input {
  font-family: inherit;
  outline: none;
}